@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}


body{
	background-image: url("imags/bgleft.png"),url("imags/bgright.png");
	background-repeat: repeat-y;
	background-position:left, right;
	background-size: 170px;
	}


.wrapper{
	width:1200px;
	height:auto;
	margin:auto;
	background:#FCF7F7;
}


.header{
	width:100%;
	height:300px;
	position: relative;
	
	
}

#banner{
	width:100%;
	height:100%;
	color:yellow;

}


.header ul{
	width:100%;
	list-style: none;
	position: absolute;
}

.header ul li{
	margin:0px auto;
	float:right; /*cho can menu tu trai qua phai*/
	line-height:30px; /*cho can giua hang*/

}

.header ul li a{
	background: #ddd;
	border-radius: 20px;
	font-size:25px;
	padding:5px;
	color:#000; /*cho mau chu den*/
	text-decoration:none;/*bo gach chan cac chu*/
	opacity:0.8;
	color:#1E68E8; /* mau chu login*/
}




#logo{
	display:block;
	position:absolute;
	float:left;
	z-index:10;
	margin:-250px 0px 0px 30px;
	width:150px;
	height:150px;
	border-radius:45px 45px;
	}









.menu{
	width:100%;
	height:50px;
	
	background:#D4A190; /*#F8F8F8 */
	margin:0px auto;
}
.menu ul{
	width:100%;
	height:30px;
	list-style:none;
}
.menu>ul>li{
	background:#D4A190; /* mau nen cap1*/
	float:left; /*cho can menu tu trai qua phai*/
	line-height:50px; /*cho can giua hang*/
	
	padding:0px 20px; /* khoang chieu cao cua menu va giua 2 chu cap1*/
	border-right:1px dotted #ACACAC;
	position:relative;

}


.menu ul li a{
	font-size:22px;
	list-style: none;
	color:#000; /*cho mau chu den*/
	text-decoration:none; /*bo gach chan cac chu*/
}
.menu a:hover{
	text-decoration:none; /*gach duoi khi chi con tro vao menu*/
}




/*menu 2eme niveau */

.menu>ul>li>ul{
	display:none;
	position:absolute;
	background:; 
	top:50px; /* khoang canh tu tren xuong voi cap 2 #00A69B*/
	width:185px;
	left:0px;/* chuyen menu cap 2 sang phai bao nhieu neu muon*/
}
.menu ul li:hover ul{
	display:block;
}
.menu ul li:hover{
	background:#5F5C5C;/*    */
	transition:all 0.25s;
}
.menu>ul>li>ul>li{
	padding:0px 1px;
	background:#507021;
}
.menu>ul>li>ul>li{
	border-bottom:1px dotted #ACACAC;
}




/***** Search Box *****/
#searchform {
	position: absolute;
	right: 160px;
	top: 260px;
	
}

#searchform .searchField {
	float:right;
	border: none;
	background: white;
	width: 330px;
	height: 40px;
	line-height: 23px;
	border-radius:10px;
}

.searchSubmit {
	background: transparent url(imags/searchButton.jpg) no-repeat 20px 8px;
	
	width: 60px;
	height: 40px;
	border: none;
	cursor: pointer;
	right:150px;
}





.content{
	width:100%;
	height:800px;
	
	
	


}
#text{
	margin:10px 10px;
	
}


.title{
	margin: 30px 20px 5px 400px;
	font-size:30px;
}

.content p{
	text-indent:30px;
	text-align:justify;
	padding:5px 30px;
	font-size:20px;
}


.content img{
	 width: 400px; 
	 height: auto;
	 padding:10px 15px 15px 15px;
	 float: left;
	 margin-left:100px;
}



.clear{ clear:both;}









.footer{
	
	position: relative;
	
	
}

#imgfooter{
	width:100%;
	height:150px;
	
	
}


.copyright {
	
	width:80%;
	height:80%;
	
	position: absolute;
	padding: 30px 0px 5px 150px;
	text-align: center;

}


