



* body{

background-image: url(imags/12.jpg);
background-repeat: none-repeat;
background-position: right top;
background-color: #BFBFB4;


}
h1{
	color:white;
	font-size: 35px;
	width:680px;
	height:75px;
	background:#F2F213;
	padding:12px;
	border-radius: 15px;

}

